.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Migra';
  src: url("../public/fonts/Migra-Extrabold.otf") format("opentype");
}



@font-face {
  font-family: 'Migra';
  src: url("../public/fonts/MigraItalic-ExtralightItalic.otf") format("opentype");
}

@font-face {
  font-family: 'Baikal';
  src: url("../public/fonts/BaikalTrial-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Baikal-Bold';
  src: url("../public/fonts/BaikalTrial-Medium.otf") format("opentype");
}


@keyframes opacity-10 {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.london-dry {
  width: 80%;
  animation: opacity-10 2.1s;  
}

.london-dry-can-carousel {
  width: 20% !important;
}

.london-dry-can {
  position: absolute;
  width: 40%;
  top: 0%;
  left: 30%;
  animation: opacity-10 2.1s;
}

.box-can-container {
  position: relative;
}


.rotate-20{
  transform: rotate(25deg);
  transition: 1s;
}

.rotate-20:hover{
  transform: rotate(0deg);
}

.rotate-0{
  transform: rotate(25deg);
  transition: 1s;
}

.rotate-0:hover{
  transform: rotate(60deg);
}

.migra {
  font-family: 'Migra' !important;
  color: white !important;
}

.box-can-container {
  position: relative;
  
}

.box-can-container .london-dry {
  opacity: 1;
  transition: opacity 5s;
}

.box-can-container .london-dry-can {
  position: absolute;
  left: 10;
  top: 0;
  
  transition: opacity 1s;
}

.box-can-container:hover .london-dry {
  opacity: 0;
  transition: opacity 1s;
  
}

.box-can-container:hover .london-dry-can {
  opacity: 1;
  display: block;
  transition: opacity 1s;
  transition: display 1s;
}

.baikal {
  font-family: 'Baikal' !important;
}

.about-body{
  font-size: 500px;
}


.nav-text {
  font-family: 'Baikal' !important;
  transition: transform .2s;
  text-shadow: 1px 1px #00000010;
}

.navbar {
  padding-top: 1%;
  position: absolute !important;
  background-color: transparent !important;
  
}


.nav-text:hover {
  transform: scale(1.1);
}

.hover:hover {
  transition: transform .2s;
  transform: scale(1.1);
}

.shoreline-tag {
  filter: brightness(0) invert(1) !important;
  user-select: none;
  transition: transform .5s !important;
}


.shoreline-tag:hover {
  transform: scale(1.02);
}

.shoreline-logo:hover {
  transform: scale(1.02);
}

.hibiscus-seal {
  opacity: 50%;
  user-select: none;
}

.shoreline-bg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.age-restriction {
  font-family: 'Baikal';
  user-select: none;
  letter-spacing: 5px !important;
}

.age-restriction-box {
  margin-top: 1%;
  width: 40% !important;
}

.find-your {
  opacity: 90%;
  user-select: none;
}

.shoreline-logo{
  filter: brightness(0) invert(1);
  margin-left: 5px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.middle{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 80vh;
}

.center {
  text-align: center;
}

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.App-link {
  color: #61dafb;
}
