h1 {
  margin: 0;
}

.Section1 {
  /*background-color: #7a9274;*/
  background-image: url(https://cdn.shopify.com/s/files/1/0013/8038/4886/files/calidad-desktop-heroimage_5fae980d-e785-40dd-bc9b-5627ba02c003_1944x.jpg?v=1559304632);
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 1024px) {

  /* Specific to this particular image */
  .Section1 {
    left: 50%;
    margin-left: -712px;
    /* 50% */
  }
}

.Section1Text {
  margin-left: 15%;
  margin-top: 10%;
}

.Header1 {
  font-size: 100px;
}

.Header2 {
  margin-top: 0;
  font-size: 30px;
}

.Becker {
  font-family: Becker;
}

.Goth {
  font-family: HWYGOTH;
}

.Section2 {
  background-color: #330d0e;
  min-height: 60vh;
  color: white;
  display: flex;
}

.Section2Header1 {
  font-size: 60px;
  text-align: center;
}

.Section2Header {
  text-align: center;
}

.Section2Text {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

.Section2Image {
  margin-top: 10%;
  width: 40%;
  opacity: 60%;
  margin-left: 10%;
}

.Section3 {
  background-color: #dadacf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* File: font.css */
@font-face {
  font-family: 'Becker';
  src: local('Becker'), url(./fonts/Becker.ttf) format('truetype');
}

@font-face {
  font-family: 'HWYGOTH';
  src: local('HWYGOTH'), url(./fonts/HWYGOTH.TTF) format('truetype');
}

.bg-myGreen {
  background-color: #7a9274;
}

.navBarText {
  letter-spacing: 3px;
  color: beige;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.transparent {
  background: rgba(0, 0, 0, 0);
}

.slighttransparent {
  background: rgba(122, 146, 116, 0.753);
}

.transition {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

.sidebar {
  margin-bottom: 10%;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.green {
  background-color: #7a9274;
  color: white
}


@media (prefers-reduced-motion: reduce) {
  .offcanvas {
    transition: transform 0.3s ease-in-out !important;
  }
}

.opacity {
  opacity: 0;
}

.jumpingDrink {
  width: 50%;
}